extends layout

block content
    .single
        .single__hero
            img.single__image(src=`/uploads/${profile.photo || 'profile.jpg'}`)
            h2.title.title--single
                a(href=`/profile/${profile.slug}`) #{profile.name}
    .single__details.inner
        - let firstName = profile.name.split(' ')[0]
        h3 About #{firstName}
        p <strong>#{profile.gender}, #{profile.age} years old</strong>
        p= profile.about
        - var dd = profile.created.getDate();
        - var mm = profile.created.getMonth() + 1;
        - var yyyy = profile.created.getFullYear();
        p <strong>#{firstName} is enjoying GetFit since #{`${mm}/${dd}/${yyyy}`}.</strong>
        if (!user)
            a(href="/register") Sign up today →

            //- .single__details
            //-     p.single__location=`Joined ${profile.created}`
            //-     p= profile.gender
            //-     p= profile.age
            //-     p= profile.about
            //-     p= profile.weight
            //-     p= profile.height
            //-     p= profile.waist
            //-     p= profile.fat_percent
