mixin profileCard(profile = {})
    .profile
        .profile__hero
            .profile__actions
                .profile__action.profile__action--edit
                    a(href=`/profiles/${profile._id}/edit`)
                        != h.icon('pencil')
            img(src=`/uploads/${profile.photo || 'profile.jpg'}`)
            h2.title
                a(href=`/profile/${profile.slug}`) #{profile.name}
            .profile__details
                p= profile.about.split(' ').slice(0, 25).join(' ')
