mixin profileForm(profile = {})
    form(action=`/profile/add/${profile._id || ''}` method="POST" class="card" enctype="multipart/form-data")
        p Name: 
            strong #{user.name}
        label(for="gender") Gender
        - const genderChoices = ['Male', 'Female']
        ul.tags
            each choice in genderChoices
                .tag.tag__choice
                    if choice === profile.gender
                        input(type="radio" id=choice value=choice name="gender" checked="checked" required)
                    else
                        input(type="radio" id=choice value=choice name="gender" required)
                    label(for=choice) #{choice}
        label(for="age") Age
        input(type="number" name="age" value=profile.age required)
        //- image upload
        label(for="photo") Photo
            input(type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg")
            if profile.photo
                img(src=`${profile.photo}`, alt=profile.name width=200)
        label(for="about") About
        textarea(name="about" required)=profile.about
        input(type="submit" value="Save →" class="button")